 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/fitria-yusrifa-B6q5zImtm2o-unsplash.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 293px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 116px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 30px;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/amanda-lins-BMJYPFujaio-unsplash.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 817px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 28px 26px;
}

.u-section-3 .u-image-1 {
  width: 229px;
  height: 229px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-2 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin: 11px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-4 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 16px auto 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 43px;
  margin-bottom: 43px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 28px 26px;
}

.u-section-3 .u-image-5 {
  width: 229px;
  height: 229px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 11px auto 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-6 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin: 15px auto 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  margin: 11px auto 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-8 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-3 .u-image-2 {
    height: 175px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 304px;
  }

  .u-section-3 .u-image-3 {
    height: 174px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 304px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 26px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-3 .u-image-4 {
    height: 174px;
    width: 175px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 57px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 274px;
  }

  .u-section-3 .u-image-5 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 274px;
  }

  .u-section-3 .u-image-6 {
    height: 175px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 274px;
  }

  .u-section-3 .u-image-7 {
    height: 174px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 274px;
  }

  .u-section-3 .u-image-8 {
    height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1799px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-image-1 {
    height: 298px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-3 .u-image-2 {
    height: 300px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 441px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-3 {
    height: 298px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 441px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-4 {
    height: 298px;
    width: 303px;
    margin-right: 3px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 29px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 355px;
  }

  .u-section-3 .u-image-5 {
    width: 300px;
    height: 299px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 355px;
  }

  .u-section-3 .u-image-6 {
    height: 300px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 442px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-7 {
    height: 298px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 442px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-8 {
    height: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4809px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 510px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 622px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 520px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 517px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 465px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 370px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 20px;
    margin-bottom: 11px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 483px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    width: 516px;
    height: 412px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 588px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 520px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 571px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 517px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 641px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 314px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 318px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    height: 228px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    width: 320px;
    height: 256px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    height: 320px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-image-7 {
    height: 318px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 478px;
  }

  .u-section-3 .u-image-8 {
    height: 252px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/damir-samatkulov-AmnS6Lx0324-unsplash.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 878px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 333px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 26px;
}

.u-section-4 .u-image-1 {
  width: 215px;
  height: 226px;
  margin: 0 43px 0 28px;
}

.u-section-4 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 333px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-image-2 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 333px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin: 11px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 333px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-image-4 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  margin: 11px auto 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 81px;
  margin-bottom: 43px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 354px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 28px 26px;
}

.u-section-4 .u-image-5 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  margin: 11px auto 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 354px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-image-6 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  margin: 15px auto 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 354px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-7 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  margin: 11px auto 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 354px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-image-8 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-9 {
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-4 .u-image-1 {
    width: 179px;
    height: 179px;
    margin-right: 28px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-2 {
    height: 175px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 304px;
  }

  .u-section-4 .u-image-3 {
    height: 174px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 304px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 17px;
  }

  .u-section-4 .u-image-4 {
    height: 174px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 292px;
  }

  .u-section-4 .u-image-5 {
    height: 178px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 292px;
  }

  .u-section-4 .u-image-6 {
    height: 175px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 292px;
  }

  .u-section-4 .u-image-7 {
    height: 174px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 292px;
  }

  .u-section-4 .u-image-8 {
    height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1774px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 304px;
    height: 302px;
    margin-top: 30px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-4 .u-image-2 {
    height: 300px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 402px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    height: 298px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 402px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-4 {
    height: 298px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 358px;
  }

  .u-section-4 .u-image-5 {
    height: 302px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 358px;
  }

  .u-section-4 .u-image-6 {
    height: 300px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 445px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 21px;
  }

  .u-section-4 .u-image-7 {
    height: 298px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 445px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 21px;
  }

  .u-section-4 .u-image-8 {
    height: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-4 .u-image-1 {
    width: 502px;
    height: 435px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 433px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 517px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 517px;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 516px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 520px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-7 {
    height: 517px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 759px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-8 {
    height: 517px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 295px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 266px;
  }

  .u-section-4 .u-image-3 {
    height: 318px;
  }

  .u-section-4 .u-image-4 {
    height: 318px;
  }

  .u-section-4 .u-image-5 {
    height: 318px;
  }

  .u-section-4 .u-image-6 {
    height: 320px;
  }

  .u-section-4 .u-image-7 {
    height: 318px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 478px;
  }

  .u-section-4 .u-image-8 {
    height: 318px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/damir-samatkulov-AmnS6Lx0324-unsplash.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 878px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 333px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 26px;
}

.u-section-5 .u-image-1 {
  width: 230px;
  height: 223px;
  margin: 0 28px;
}

.u-section-5 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 333px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-image-2 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 333px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin: 11px auto 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 333px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-image-4 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  margin: 11px auto 0;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 81px;
  margin-bottom: 43px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 354px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 28px 26px;
}

.u-section-5 .u-image-5 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin: 11px auto 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 354px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-image-6 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  margin: 15px auto 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 354px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-image-7 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  margin: 11px auto 0;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 354px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-image-8 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-9 {
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 13px;
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-5 .u-image-1 {
    width: 179px;
    height: 172px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-5 .u-image-2 {
    height: 175px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 293px;
  }

  .u-section-5 .u-image-3 {
    height: 174px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 293px;
  }

  .u-section-5 .u-image-4 {
    height: 174px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 56px;
    margin-bottom: 27px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 292px;
  }

  .u-section-5 .u-image-5 {
    height: 178px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 292px;
  }

  .u-section-5 .u-image-6 {
    height: 175px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 292px;
  }

  .u-section-5 .u-image-7 {
    height: 174px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 292px;
  }

  .u-section-5 .u-image-8 {
    height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1844px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-5 .u-image-1 {
    width: 304px;
    height: 304px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-5 .u-image-2 {
    height: 300px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-image-3 {
    height: 298px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 7px;
  }

  .u-section-5 .u-image-4 {
    height: 298px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 366px;
  }

  .u-section-5 .u-image-5 {
    height: 302px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 366px;
  }

  .u-section-5 .u-image-6 {
    height: 300px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 455px;
  }

  .u-section-5 .u-image-7 {
    height: 298px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 455px;
  }

  .u-section-5 .u-image-8 {
    height: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 5158px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-5 .u-image-1 {
    width: 502px;
    height: 526px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 520px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 517px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 517px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-bottom: 27px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 592px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 516px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 599px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 520px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 597px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-7 {
    height: 517px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 688px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-5 .u-image-8 {
    height: 517px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 356px;
  }

  .u-section-5 .u-image-2 {
    height: 320px;
  }

  .u-section-5 .u-image-3 {
    height: 318px;
  }

  .u-section-5 .u-image-4 {
    height: 318px;
  }

  .u-section-5 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-image-5 {
    height: 318px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-image-6 {
    height: 320px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-image-7 {
    height: 318px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 478px;
  }

  .u-section-5 .u-image-8 {
    height: 318px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/chocolate-and-ginger-teacake-with-cream-cheese-frosting-134624-2.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 878px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 333px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0 26px;
}

.u-section-6 .u-image-1 {
  width: 230px;
  height: 223px;
  margin: 0 28px;
}

.u-section-6 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 333px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-6 .u-image-2 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 333px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  margin: 11px auto 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 333px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 26px;
}

.u-section-6 .u-image-4 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  margin: 11px auto 0;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 81px;
  margin-bottom: 43px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 354px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 28px 26px;
}

.u-section-6 .u-image-5 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  margin: 11px auto 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 354px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 30px 26px;
}

.u-section-6 .u-image-6 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  margin: 15px auto 0;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 354px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-image-7 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-8 {
  margin: 11px auto 0;
}

.u-section-6 .u-layout-cell-8 {
  min-height: 354px;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px 30px 26px;
}

.u-section-6 .u-image-8 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 10px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-6 .u-image-1 {
    width: 179px;
    height: 172px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-6 .u-image-2 {
    height: 175px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 323px;
  }

  .u-section-6 .u-image-3 {
    height: 174px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 323px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-4 {
    height: 174px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 28px;
    margin-bottom: 20px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 292px;
  }

  .u-section-6 .u-image-5 {
    height: 178px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 292px;
  }

  .u-section-6 .u-image-6 {
    height: 175px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 292px;
  }

  .u-section-6 .u-image-7 {
    height: 174px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 292px;
  }

  .u-section-6 .u-image-8 {
    height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1867px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-6 .u-image-1 {
    width: 302px;
    height: 301px;
    margin-right: 30px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 81px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-6 .u-image-2 {
    height: 300px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 466px;
  }

  .u-section-6 .u-image-3 {
    height: 298px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 466px;
  }

  .u-section-6 .u-image-4 {
    height: 298px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 390px;
  }

  .u-section-6 .u-image-5 {
    height: 302px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 390px;
  }

  .u-section-6 .u-image-6 {
    height: 300px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 446px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 18px;
  }

  .u-section-6 .u-image-7 {
    height: 298px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 446px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-bottom: 18px;
  }

  .u-section-6 .u-image-8 {
    height: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-6 .u-image-1 {
    width: 502px;
    height: 434px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 174px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 438px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 517px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 517px;
  }

  .u-section-6 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 516px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    height: 520px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-7 {
    height: 517px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 759px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-8 {
    height: 517px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 294px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 110px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    height: 270px;
  }

  .u-section-6 .u-image-3 {
    height: 318px;
  }

  .u-section-6 .u-image-4 {
    height: 318px;
  }

  .u-section-6 .u-image-5 {
    height: 318px;
  }

  .u-section-6 .u-image-6 {
    height: 320px;
  }

  .u-section-6 .u-image-7 {
    height: 318px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 478px;
  }

  .u-section-6 .u-image-8 {
    height: 318px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/stephanie-mccabe-U3zasaqWD-I-unsplash.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 878px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 363px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0 26px;
}

.u-section-7 .u-image-1 {
  width: 230px;
  height: 224px;
  margin: 0 28px;
}

.u-section-7 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 333px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-image-2 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 333px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  margin: 11px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 333px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-image-4 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-5 {
  margin: 11px auto 0;
}

.u-section-7 .u-layout-wrap-2 {
  margin-top: 81px;
  margin-bottom: 43px;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 354px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 28px 26px;
}

.u-section-7 .u-image-5 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-6 {
  margin: 11px auto 0;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 354px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-image-6 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-7 {
  margin: 15px auto 0;
}

.u-section-7 .u-layout-cell-7 {
  min-height: 354px;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-image-7 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-8 {
  margin: 11px auto 0;
}

.u-section-7 .u-layout-cell-8 {
  min-height: 354px;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px 30px 26px;
}

.u-section-7 .u-image-8 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-9 {
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-7 .u-image-1 {
    width: 179px;
    height: 174px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-7 .u-image-2 {
    height: 175px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 12px;
  }

  .u-section-7 .u-image-3 {
    height: 174px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 299px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 12px;
  }

  .u-section-7 .u-image-4 {
    height: 174px;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 52px;
    margin-bottom: 20px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 292px;
  }

  .u-section-7 .u-image-5 {
    height: 178px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 292px;
  }

  .u-section-7 .u-image-6 {
    height: 175px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 292px;
  }

  .u-section-7 .u-image-7 {
    height: 174px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 292px;
  }

  .u-section-7 .u-image-8 {
    height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1868px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-7 .u-image-1 {
    width: 304px;
    height: 301px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-7 .u-image-2 {
    height: 300px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-7 .u-image-3 {
    height: 298px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 422px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-7 .u-image-4 {
    height: 298px;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 53px;
    margin-bottom: 44px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 407px;
  }

  .u-section-7 .u-image-5 {
    height: 302px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 407px;
  }

  .u-section-7 .u-image-6 {
    height: 300px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 432px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-bottom: 17px;
  }

  .u-section-7 .u-image-7 {
    height: 298px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 432px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-bottom: 17px;
  }

  .u-section-7 .u-image-8 {
    height: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-7 .u-image-1 {
    width: 502px;
    height: 509px;
    margin-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 520px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 517px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 517px;
  }

  .u-section-7 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    height: 516px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    height: 520px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-7 {
    height: 517px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 759px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-8 {
    height: 517px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 345px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 320px;
  }

  .u-section-7 .u-image-3 {
    height: 318px;
  }

  .u-section-7 .u-image-4 {
    height: 318px;
  }

  .u-section-7 .u-image-5 {
    height: 318px;
  }

  .u-section-7 .u-image-6 {
    height: 320px;
  }

  .u-section-7 .u-image-7 {
    height: 318px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 478px;
  }

  .u-section-7 .u-image-8 {
    height: 318px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/jenny-pace-K5IUb0kBZZ8-unsplash.jpg");
}

.u-section-8 .u-sheet-1 {
  min-height: 448px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 26px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 375px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0 23px;
}

.u-section-8 .u-image-1 {
  width: 515px;
  height: 322px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-8 .u-text-2 {
  margin: 111px auto 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 11px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-8 .u-image-1 {
    width: 235px;
    height: 147px;
    margin-top: 21px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 14px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 224px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-8 .u-image-1 {
    width: 412px;
    height: 212px;
    margin-left: 60px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 4px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 175px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 95px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 10px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 12px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/louis-hansel-ByO9V_bwCp0-unsplash.jpg");
}

.u-section-9 .u-sheet-1 {
  min-height: 491px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 26px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-9 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-9 .u-image-1 {
  width: 515px;
  height: 367px;
  margin: 0 auto;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 418px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-9 .u-text-1 {
  margin: 152px auto 0;
}

@media (max-width: 1199px) {
   .u-section-9 {
    background-position: 50% 50%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-9 .u-image-1 {
    width: 235px;
    height: 147px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 46px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 27px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 26px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-9 .u-image-1 {
    width: 405px;
    height: 193px;
    margin-top: 0;
    margin-left: 58px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 179px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-bottom: 3px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 153px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-image-1 {
    height: 162px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 108px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 16px;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/jenny-pace-K5IUb0kBZZ8-unsplash.jpg");
}

.u-section-10 .u-sheet-1 {
  min-height: 491px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 26px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-10 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-10 .u-image-1 {
  width: 515px;
  height: 386px;
  margin: 0 auto;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 418px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-10 .u-text-1 {
  margin: 152px auto 0;
}

@media (max-width: 1199px) {
   .u-section-10 {
    background-position: 50% 50%;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 13px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-10 .u-image-1 {
    width: 235px;
    height: 147px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 246px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 11px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 39px;
    margin-right: 60px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 27px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 193px;
  }

  .u-section-10 .u-image-1 {
    width: 415px;
    height: 215px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 57px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 4px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 176px;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 145px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 1px;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/giovanna-gomes-Qy2KMPRV3X4-unsplash.jpg");
}

.u-section-11 .u-sheet-1 {
  min-height: 491px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 26px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-11 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-11 .u-image-1 {
  width: 515px;
  height: 386px;
  margin: 0 auto;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 418px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-11 .u-text-1 {
  margin: 152px auto 0;
}

@media (max-width: 1199px) {
   .u-section-11 {
    background-position: 50% 50%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-11 .u-image-1 {
    width: 235px;
    height: 147px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-11 .u-image-1 {
    width: 423px;
    height: 249px;
    margin-top: 0;
    margin-left: 45px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-11 .u-text-1 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 14px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-left: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 121px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 0;
  }
} .u-section-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/roberta-sorge-IywM7AQTZcM-unsplash.jpg");
}

.u-section-12 .u-sheet-1 {
  min-height: 491px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 26px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-12 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-12 .u-image-1 {
  width: 515px;
  height: 386px;
  margin: 0 auto;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 418px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-12 .u-text-1 {
  margin: 152px auto 0;
}

@media (max-width: 1199px) {
   .u-section-12 {
    background-position: 50% 50%;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-12 .u-image-1 {
    width: 235px;
    height: 147px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-12 .u-image-1 {
    margin-top: 18px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-bottom: 18px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-12 .u-image-1 {
    width: 437px;
    height: 261px;
    margin-top: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-12 .u-text-1 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 203px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 141px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 0;
  }
} .u-section-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/anastasia-zhenina-i1-4YWjX1cg-unsplash.jpg");
}

.u-section-13 .u-sheet-1 {
  min-height: 491px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 26px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-13 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-13 .u-image-1 {
  width: 515px;
  height: 386px;
  margin: 0 auto;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 418px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-13 .u-text-1 {
  margin: 152px auto 0;
}

@media (max-width: 1199px) {
   .u-section-13 {
    background-position: 50% 50%;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-13 .u-image-1 {
    width: 235px;
    height: 147px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-bottom: 47px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-13 .u-image-1 {
    margin-top: 28px;
    margin-right: 38px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-bottom: 16px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-13 .u-image-1 {
    width: 458px;
    height: 274px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-13 .u-text-1 {
    margin-top: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-bottom: 29px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 203px;
    margin-top: 0;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 118px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 0;
  }
} .u-section-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/wesley-tingey-l4OSEZZSQuQ-unsplash.jpg");
}

.u-section-14 .u-sheet-1 {
  min-height: 491px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 26px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-14 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-14 .u-image-1 {
  width: 515px;
  height: 386px;
  margin: 0 auto;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 418px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-14 .u-text-1 {
  margin: 152px auto 0;
}

@media (max-width: 1199px) {
   .u-section-14 {
    background-position: 50% 50%;
  }

  .u-section-14 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-14 .u-image-1 {
    width: 235px;
    height: 147px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 203px;
  }

  .u-section-14 .u-image-1 {
    margin-top: 17px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-14 .u-text-1 {
    margin-top: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-bottom: 6px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 136px;
  }

  .u-section-14 .u-image-1 {
    width: 457px;
    height: 243px;
    margin-top: 0;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-14 .u-text-1 {
    margin-top: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-bottom: 18px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 181px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 103px;
  }

  .u-section-14 .u-text-1 {
    margin-top: 0;
  }
}